.games-container {
  color: #000000;
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  border-color: #000000;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.games-link {
  display: contents;
}
.games-text {
  top: 118px;
  left: 158px;
  color: #ffffff;
  position: absolute;
  text-decoration: none;
}
.games-link01 {
  display: contents;
}
.games-text01 {
  top: 168px;
  left: 145px;
  color: #f9f6f6;
  width: 161px;
  height: 56px;
  position: absolute;
  text-transform: lowercase;
  text-decoration: none;
}
.games-link02 {
  display: contents;
}
.games-image {
  top: 8px;
  left: 123px;
  width: 233px;
  height: 114px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 2px;
  text-decoration: none;
}
.games-navlink {
  display: contents;
}
.games-text02 {
  top: -7px;
  left: 0px;
  width: 138px;
  height: 31px;
  position: absolute;
  text-decoration: none;
}
.games-text08 {
  top: 118px;
  left: 543px;
  position: absolute;
}
.games-link03 {
  display: contents;
}
.games-text11 {
  top: 114px;
  left: 543px;
  position: absolute;
  text-decoration: none;
}
.games-text13 {
  color: #ffffff;
}
.games-text14 {
  color: #ffffff;
}
.games-text15 {
  color: #ffffff;
}
.games-link04 {
  display: contents;
}
.games-image1 {
  top: 2px;
  left: 541px;
  width: 149px;
  height: 114px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 2px;
  text-decoration: none;
}
.games-link05 {
  display: contents;
}
.games-text17 {
  top: 430px;
  left: 85px;
  color: rgb(103, 116, 142);
  width: 276px;
  position: absolute;
  text-decoration: none;
}
.games-text18 {
  color: #fbfbfb;
}
.games-text19 {
  color: #fbfbfb;
}
.games-text20 {
  color: #fbfbfb;
}
.games-image2 {
  top: 238px;
  left: 135px;
  width: 172px;
  height: 145px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 2px;
}
.games-link06 {
  display: contents;
}
.games-text22 {
  top: 430px;
  left: 85px;
  color: rgb(103, 116, 142);
  width: 276px;
  position: absolute;
  text-decoration: none;
}
.games-text23 {
  color: #fbfbfb;
}
.games-text24 {
  color: #fbfbfb;
}
.games-text25 {
  color: #fbfbfb;
}
.games-text27 {
  top: 55px;
  left: 899px;
  position: absolute;
}
.games-link07 {
  display: contents;
}
.games-image3 {
  top: 271px;
  left: 531px;
  width: 144px;
  height: 141px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 2px;
  text-decoration: none;
}
.games-link08 {
  display: contents;
}
.games-text32 {
  top: 461px;
  left: 521px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-decoration: none;
}
.games-link09 {
  display: contents;
}
.games-text37 {
  top: 723px;
  left: 78px;
  color: #ffffff;
  position: absolute;
  text-decoration: none;
}
.games-navlink1 {
  display: contents;
}
.games-text42 {
  top: 251px;
  left: 2px;
  position: absolute;
  text-decoration: none;
}
.games-text43 {
  text-transform: lowercase;
}
.games-text44 {
  text-transform: lowercase;
}
.games-text45 {
  text-transform: lowercase;
}
