.games2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.games2-link {
  display: contents;
}
.games2-image {
  top: 71px;
  left: 84px;
  width: 165px;
  height: 164px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-style: groove;
  border-width: 2px;
  text-decoration: none;
}
.games2-link1 {
  display: contents;
}
.games2-text {
  top: 289px;
  left: 38px;
  color: #ffffff;
  position: absolute;
  text-decoration: none;
}
.games2-navlink {
  display: contents;
}
.games2-text05 {
  text-decoration: none;
}
.games2-navlink1 {
  display: contents;
}
.games2-text10 {
  top: 8px;
  left: 13px;
  position: absolute;
  text-decoration: none;
}
.games2-link2 {
  display: contents;
}
.games2-text11 {
  top: 306px;
  left: 543px;
  position: absolute;
  text-decoration: none;
}
.games2-text12 {
  color: #ffffff;
}
.games2-text13 {
  color: #ffffff;
}
.games2-text14 {
  color: #bd1919;
}
.games2-link3 {
  display: contents;
}
.games2-image1 {
  top: 150px;
  left: 530px;
  width: 162px;
  height: 130px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 2px;
  text-decoration: none;
}
.games2-link4 {
  display: contents;
}
.games2-text16 {
  top: 573px;
  left: 97px;
  color: rgb(103, 116, 142);
  position: absolute;
  text-decoration: none;
}
.games2-text17 {
  color: #ffffff;
}
.games2-text19 {
  color: #ffffff;
}
.games2-link5 {
  display: contents;
}
.games2-image2 {
  top: 437px;
  left: 58px;
  width: 243px;
  height: 121px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 1px;
  text-decoration: none;
}
.games2-link6 {
  display: contents;
}
.games2-text21 {
  top: 579px;
  left: 501px;
  position: absolute;
  text-decoration: none;
}
.games2-text23 {
  color: #ffffff;
}
.games2-text24 {
  color: #ffffff;
}
.games2-text25 {
  color: #ffffff;
}
.games2-link7 {
  display: contents;
}
.games2-image3 {
  top: 434px;
  left: 549px;
  width: 151px;
  height: 122px;
  position: absolute;
  object-fit: cover;
  border-color: #000000;
  border-width: 2px;
  text-decoration: none;
}
.games2-text28 {
  top: 58px;
  right: 77px;
  position: absolute;
}
