.job-mod-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#feac5e 0%, #c779d0 50%, #4bc0c8 100%);
}
.job-mod-link {
  display: contents;
}
.job-mod-text {
  top: 299px;
  color: #ffffff;
  right: 212px;
  position: absolute;
  text-decoration: none;
}
